*{
	margin: 0;
	padding: 0;
}
ul li, span, a, p, img{
	direction: block;
}
ds-none{
	display: none!important;
}

/*首页css  sub1.html*/
.index-header{
	width: 100%;
	height: 150px;
	background: #5A98C3;
	/*border: 1px solid red;*/
}
.index-searchNav{
	height: 150px;
	padding: 0;
	margin: 0;
}
.index-header-top{
	width: 100%;
	height: 50px;
	/*border: 1px solid red;*/
}
.index-searchInput{
	width: 90%;
	height: auto;
	padding: 0 10px;
	float: left;
	padding: 0 10px;
}
.index-search{
	width: 100%;
	height: 30px;
	background: #fff;
	border-radius: 5px;
	margin-top: 5px;
	padding: 5px;
}
.index-search-L{
	width: 30px;
	height: 30px;
	padding: 0;
	float: left;
}
.index-search-R{
	font-size: 14px;
	color: #ccc;
}
.index-searchIcon{
	margin: 0!important;
	padding: 0!important;
	font-size: 19px!important;
}
.index-header-topMsg{
	width: 10%;
	height: auto;
	float: right;
	text-align: center;
	color: #fff;
}
.index-msg{
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: red;
	border: 1px solid red;
	display: block;
	position: relative;
	margin: -22px 0 0 17px;
}
.mui-bar-nav ~ .mui-content .mui-pull-top-pocket{
    top: 150px !important;
}
/*查找公交css  search.html*/
#busNum{
	font-size: 12px;
}
.sub-searchInput{
	float: none!important;
	margin: 0;
	padding: 0!important;
	width: 80%;
	position: absolute;
	left: 45px;
	top: 3px;

}
.sub-searchInput input{
	border: none;
	background: none;
}
.title{
	margin: 20px 15px 7px;
	color: #6d6d72;
	font-size: 15px;
}

